aniso8601==9.0.1
click==8.0.3
Flask==2.0.1
Flask-JWT-Extended==4.2.1
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pip==21.2.4
PyJWT==2.1.0
pytz==2021.3
setuptools==58.1.0
six==1.16.0
SQLAlchemy==1.4.31
Werkzeug==2.0.2

#Python 3.9.9



# {
#     "is_light": false,
#     "humidity_up": true,
#     "humidity_down": false,
#     "humidity": 70.1,
#     "temperature": 25.6,
#     "light_on": 20.30,
#     "light_off": 14.00,
#     "prepare_humidity": 80.0,
#     "current_light": 15.00,
#     "tdd": 236.80
# }
#       127.0.0.1:5000/item/asdf